<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Owen Panos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="icon" type="image/png" href="static\icon2.png">
  </head>
<body>
    <div class='nav-links'>
      <a class='nav-home' href="/">Home</a>
      <a class='nav-contact' href="/contact">Contact</a>
      <a class='nav-projects' href="/projects">Projects</a>
    </div>
  
  <div class="projects-title">
    <h1>Contact Me</h1>
  </div>
  <div class="contact_photo">
    <img src="static\headshot.png" height="400px" >
  </div>
  
  <div class="container">
    <a href="mailto:ompanos@iastate.edu"><img class="email" src="static\email.png" height="60px"></a>
    <a href="https://www.linkedin.com/in/owen-panos-203430250/"><img class="linkedin" src="static\linkedin.png" height="60px"></a>
  </div>




</body>

</html>