<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Owen Panos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="icon" type="image/png" href="static\icon2.png">
  </head>
  <body>
    <div class='nav-links'>
      <a class='nav-home' href="/">Home</a>
      <a class="nav-contact" href="/contact">Contact</a>
      <a class="nav-projects"href="/projects">Projects</a>
    </div>

    <div class="title">
      <h1>Owen Panos</h1>
    </div>

    <div class="about_me">
      <p>Information Systems student interested in business computer programming, database management, and data analysis and visualization. Focus on using data and technology to make businesses run smoothly.Current junior at Iowa State University in the Ivy School of Business. Pursuing a degree in MIS with a Business Analytics minor.   </p>
    </div>

    <div class="experience_title">
      <h2>Experience<br></h2>
    </div>
    <div class="experience_list">
      <ul>
        <li>Python (API request, Modules: pandas and matplotlib)</li>
        <li>SQL (MySQL, Microsoft SQL Server, PostgreSQL, and SQLite)</li>
        <li>Excel</li>
      </ul>
    </div>
    <div class="resume">
      <h3>Resume</h3>
      <a href="/static/owenpanos_resume.pdf" download>
        <img src="/static/resume.png" alt="resume" height="70px">
      </a>
    </div>
  








    
  </body>
</html>